
body{
    max-width: 980px;
    margin:0 auto;
    background-color:burlywood;
}

@import "../node_modules/bootstrap/scss/_tables.scss";
@import "../node_modules/bootstrap/scss/_forms.scss";

.wrapper{
    display:flex;
}
h1{
    font-size: 20px; 
}
span{
    font-family: "Old English Text MT";
    font-size: 30px;
}
.title-wrapper{
    display: block;
    text-align: center;
    width:330px;
    margin:20px auto;
}
#user-choice{
    padding-top:5px;
    padding-bottom:5px;
    border-radius:5px;
    margin-left:100px;
}
.user-enter {
    display:flex;
    flex-direction: column;
    margin-right:20px;
    margin-top:40px;
}
/* .user-enter input{
    width:200px;
    padding:5px 0;
    border-radius:7px;
} */
#add-element{
    padding:7px 0;
    width:100px;
    border-radius: 7px;
    margin-top:20px;
    background-color:white;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 700px;
    border-collapse: collapse;
    text-align: center;
    }
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
td {
    background: #D8E6F3;
    }
th:first-child, td:first-child {
    text-align: left;
    }
button{
    background-color:transparent;
}
#ascending-sort,
#descending-sort{ 
    position: relative;
    bottom: -4px;
    left: -11px;
    padding:0px;
    border: 7px solid transparent;
    border-top: 12px solid red;
    transform: rotate(180deg);
}
#descending-sort{
    top: 12px;
    left: 70px;
    transform: rotate(0deg);
}
#ascending-sort:hover,
#descending-sort:hover, 
#ascending-sort:focus,
#descending-sort:focus {
    border-top: 12px solid #000000;
    cursor: pointer;
    outline:0px;
}
.table-header{
    height:40px;
}
#normal-state{
    position: relative;
    bottom: -3px;
    left: 30px;
    width:16px;
    height:5px;
    border:0px;
    border-bottom: 5px solid red;
    cursor: pointer;
}
#normal-state:hover,
#normal-state:focus,
#normal-state:active{
    border-bottom: 5px solid black;
    outline:0px;
}
